*{
    box-sizing: border-box;
    font-family: Lato;
    margin: 0;
    padding:0;
}
body{
    background: url('./img/back.jpg') no-repeat center;
    background-size:cover;
    height: 100vh;
    color:#555;
}
main{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    background: white;
    height: 600px;
    width: 500px;
    text-align: center;
    padding:100px;
}
.active{
    background-color: #f7f7f7;
}
.active .name{
    font-weight: 700;
}
.active .name::after{
    content: "\2022";
    font-size: 47px;
    position: absolute;
    top:100px;
    color: #EB4D4D;
}

.name{
    font-size: 40px;
}

.score{
    font-size: 100px;
    width: 100%;
    margin: 50px auto;
    font-weight: 100;
    color:#EB4D4D;
}

.score-board{
    background-color: #EB4D4D;
    color:white;
    font-size: 20px;
    font-weight: 300;
    width:50%;
    text-align: center;
    padding:20px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.button{
    position: absolute;
    background: none;
    border:none;
    cursor: pointer;
    color:#555;
    width:500px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 700ms;
}

.button:hover{
    font-weight: 500;
}
.button:hover i{
    margin-right: 20px;
}
.button:focus{
    outline: none;
}

i{
    transition: margin 0.3s;
    display: inline-block;
    color:#EB4D4D;
    font-weight: 100;
    margin: 0 10px;
    font-size: 30px;
    font-style: normal;
}
.new-game{
    top:100px;
}
.new-game-icon::before{
    content: '\2295';
}
.roll-dice-icon::before{
    content:'\27F2';
}
.hold-icon::before{
    content:'\261F';
}
.roll-dice{
    top:400px;
}
.hold{
    top:500px;
}
.dice{
    max-width: 100px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.20);
    transition: all 1s;
}
.dice-div{
    position: absolute;
    top:220px;
    transition: all 1s;
}


.move{
    animation: move 0.3s linear;   
}
.move2{
    animation: move 0.3s linear 2;   
}
@keyframes move{
    0%{}
    25%{transform: translateX(10px);}
    50%{transform: translateX(-10px);}
    75%{transform: translateX(10px);}
    100%{transform: translateX(-10px);}
}
.rotate{
    animation: rotate 0.5s linear 1;
}

@keyframes rotate{
    from{}
    to{transform: rotate(360deg);}
}
.winner{
    text-transform: uppercase;
    font-size: 40px;
    color:#EB4D4D;
    background-color: #ffe2e2;
}